DerivedData
.DS_Store
weatherapp.xcodeproj/xcuserdata/denizakya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
weatherapp.xcodeproj/project.xcworkspace/xcuserdata/denizakya.xcuserdatad/UserInterfaceState.xcuserstate
